In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

In [3]:
state_data_path = "Data/homelessness-07to16.csv"

state_data_df = pd.read_csv(state_data_path)
state_data_df

,Year,State,CoC Number,CoC Name,Measures,Count
0,1/1/2007,AK,AK-500,Anchorage CoC,Chronically Homeless Individuals,224
1,1/1/2007,AK,AK-500,Anchorage CoC,Homeless Individuals,696
2,1/1/2007,AK,AK-500,Anchorage CoC,Homeless People in Families,278
3,1/1/2007,AK,AK-500,Anchorage CoC,Sheltered Chronically Homeless Individuals,187
4,1/1/2007,AK,AK-500,Anchorage CoC,Sheltered Homeless,842
...,...,...,...,...,...,...
86524,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Homeless Unaccompanied Youth (Unde...,7
86525,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Homeless Veterans,31
86526,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Parenting Youth (Under 25),3
86527,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Parenting Youth Age 18-24,3
86528,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Parenting Youth Under 18,0

In [16]:
measures = state_data_df["Measures"].unique()
measures

array(['Chronically Homeless Individuals', 'Homeless Individuals',
       'Homeless People in Families',
       'Sheltered Chronically Homeless Individuals', 'Sheltered Homeless',
       'Sheltered Homeless Individuals',
       'Sheltered Homeless People in Families', 'Total Homeless',
       'Unsheltered Chronically Homeless Individuals',
       'Unsheltered Homeless', 'Unsheltered Homeless Individuals',
       'Unsheltered Homeless People in Families', 'Chronically Homeless',
       'Chronically Homeless People in Families', 'Homeless Veterans',
       'Sheltered Chronically Homeless',
       'Sheltered Chronically Homeless People in Families',
       'Sheltered Homeless Veterans', 'Unsheltered Chronically Homeless',
       'Unsheltered Chronically Homeless People in Families',
       'Unsheltered Homeless Veterans', 'Children of Parenting Youth',
       'Homeless Unaccompanied Children (Under 18)',
       'Homeless Unaccompanied Young Adults (Age 18-24)',
       'Homeless Unaccompanied Youth (Under 25)',
       'Parenting Youth (Under 25)', 'Parenting Youth Age 18-24',
       'Parenting Youth Under 18',
       'Sheltered Children of Parenting Youth',
       'Sheltered Homeless Unaccompanied Children (Under 18)',
       'Sheltered Homeless Unaccompanied Young Adults (Age 18-24)',
       'Sheltered Homeless Unaccompanied Youth (Under 25)',
       'Sheltered Parenting Youth (Under 25)',
       'Sheltered Parenting Youth Age 18-24',
       'Sheltered Parenting Youth Under 18',
       'Unsheltered Children of Parenting Youth',
       'Unsheltered Homeless Unaccompanied Children (Under 18)',
       'Unsheltered Homeless Unaccompanied Young Adults (Age 18-24)',
       'Unsheltered Homeless Unaccompanied Youth (Under 25)',
       'Unsheltered Parenting Youth (Under 25)',
       'Unsheltered Parenting Youth Age 18-24',
       'Unsheltered Parenting Youth Under 18'], dtype=object)

In [17]:
homeless_children= state_data_df.loc[state_data_df["Measures"] == "Unsheltered Homeless Unaccompanied Children (Under 18)"] 
homeless_children

,Year,State,CoC Number,CoC Name,Measures,Count
52754,1/1/2015,AK,AK-500,Anchorage CoC,Unsheltered Homeless Unaccompanied Children (U...,3
52796,1/1/2015,AK,AK-501,Alaska Balance of State CoC,Unsheltered Homeless Unaccompanied Children (U...,3
52838,1/1/2015,AL,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",Unsheltered Homeless Unaccompanied Children (U...,0
52880,1/1/2015,AL,AL-501,Mobile City & County/Baldwin County CoC,Unsheltered Homeless Unaccompanied Children (U...,0
52922,1/1/2015,AL,AL-502,Florence/Northwest Alabama CoC,Unsheltered Homeless Unaccompanied Children (U...,0
...,...,...,...,...,...,...
86354,1/1/2016,WV,WV-500,Wheeling/Weirton Area CoC,Unsheltered Homeless Unaccompanied Children (U...,0
86396,1/1/2016,WV,WV-501,"Huntington/Cabell, Wayne Counties CoC",Unsheltered Homeless Unaccompanied Children (U...,0
86438,1/1/2016,WV,WV-503,"Charleston/Kanawha, Putnam, Boone, Clay Counti...",Unsheltered Homeless Unaccompanied Children (U...,0
86480,1/1/2016,WV,WV-508,West Virginia Balance of State CoC,Unsheltered Homeless Unaccompanied Children (U...,1
86522,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Homeless Unaccompanied Children (U...,2

In [19]:
cleaned_homeless_children = homeless_children.dropna()
cleaned_homeless_children

,Year,State,CoC Number,CoC Name,Measures,Count
52754,1/1/2015,AK,AK-500,Anchorage CoC,Unsheltered Homeless Unaccompanied Children (U...,3
52796,1/1/2015,AK,AK-501,Alaska Balance of State CoC,Unsheltered Homeless Unaccompanied Children (U...,3
52838,1/1/2015,AL,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",Unsheltered Homeless Unaccompanied Children (U...,0
52880,1/1/2015,AL,AL-501,Mobile City & County/Baldwin County CoC,Unsheltered Homeless Unaccompanied Children (U...,0
52922,1/1/2015,AL,AL-502,Florence/Northwest Alabama CoC,Unsheltered Homeless Unaccompanied Children (U...,0
...,...,...,...,...,...,...
86354,1/1/2016,WV,WV-500,Wheeling/Weirton Area CoC,Unsheltered Homeless Unaccompanied Children (U...,0
86396,1/1/2016,WV,WV-501,"Huntington/Cabell, Wayne Counties CoC",Unsheltered Homeless Unaccompanied Children (U...,0
86438,1/1/2016,WV,WV-503,"Charleston/Kanawha, Putnam, Boone, Clay Counti...",Unsheltered Homeless Unaccompanied Children (U...,0
86480,1/1/2016,WV,WV-508,West Virginia Balance of State CoC,Unsheltered Homeless Unaccompanied Children (U...,1
86522,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Homeless Unaccompanied Children (U...,2

In [6]:
total_homeless= state_data_df.loc[state_data_df["Measures"] == "Total Homeless"] 
total_homeless

,Year,State,CoC Number,CoC Name,Measures,Count
7,1/1/2007,AK,AK-500,Anchorage CoC,Total Homeless,974
19,1/1/2007,AK,AK-501,Alaska Balance of State CoC,Total Homeless,668
31,1/1/2007,AL,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",Total Homeless,"2,104"
43,1/1/2007,AL,AL-501,Mobile City & County/Baldwin County CoC,Total Homeless,649
55,1/1/2007,AL,AL-502,Florence/Northwest Alabama CoC,Total Homeless,265
...,...,...,...,...,...,...
86346,1/1/2016,WV,WV-500,Wheeling/Weirton Area CoC,Total Homeless,91
86388,1/1/2016,WV,WV-501,"Huntington/Cabell, Wayne Counties CoC",Total Homeless,228
86430,1/1/2016,WV,WV-503,"Charleston/Kanawha, Putnam, Boone, Clay Counti...",Total Homeless,320
86472,1/1/2016,WV,WV-508,West Virginia Balance of State CoC,Total Homeless,748
86514,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Total Homeless,857

In [14]:
all_states = total_homeless["State"].unique()
all_states

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'GU', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD',
       'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ',
       'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD',
       'TN', 'TX', 'UT', 'VA', 'VI', 'VT', 'WA', 'WI', 'WV', 'WY'],
      dtype=object)

In [ ]:
state_list = ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'GU', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD',
       'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ',
       'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD',
       'TN', 'TX', 'UT', 'VA', 'VI', 'VT', 'WA', 'WI', 'WV', 'WY']

for state in state_list:
    state_total_homeless = total_homeless["State"] == state